/* Citations */
.citation dl {
    display: grid;
    grid-template-columns: max-content auto; }
  .citation dt {
    grid-column-start: 1; }
  .citation dd {
    grid-column-start: 2;
    margin-bottom: 0.75em; }
  .citation ul {
   padding: 0 0 2.25em 0;
   margin: 0;
   list-style: none !important;}
  .citation ul li {
   text-indent: -2.25em;
   margin: 0.33em 0.5em 0.5em 2.25em;}
  .citation ol li {
   padding-left:0.75em;}
  .citation :target {
    text-shadow: 0 0 30px yellow;}

/* Hide default features */
#documenter-article-toggle-button, .breadcrumb ul, a[title^="View"] {
  display: none;
}

/* Font */
body, button, input, optgroup, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body, html.theme--documenter-dark body, .admonition, html.theme--documenter-dark .admonition, .katex {
  font-size: 16pt;
}

h3 {
  font-size: 1.2em !important;
}

h4 {
  font-size: 1em !important;
}

summary {
  cursor: pointer;
}

p a, ol a, ul a:not(.tocitem), blockquote a {
  text-decoration: underline;
}

table {
  text-align: left;
}

/* Fix the prev/next links touching at certain phone sizes */
.docs-footer-nextpage {
  padding-left: 1em;
}

/* Hide things when printing */
@media print {
  .docs-sidebar, .docs-navbar, .docs-footer-prevpage, .docs-footer-nextpage {
    display: none !important;
  }

  body, html.theme--documenter-dark body, .admonition, html.theme--documenter-dark .admonition, .katex {
    font-size: 10pt;
  }
}

/* Custom Admonitions */

.admonition.is-warning > .admonition-header:empty::before {content: "\f568"}
.admonition.is-warning > .admonition-header:empty::after {content: "Under Construction -- Feedback Wanted!"}

.admonition.is-compat > .admonition-header:empty::before {content: "\f058"}
.admonition.is-compat > .admonition-header:empty::after {content: "Objectives for the Following Section"}

.admonition.is-info > .admonition-header:empty::before {content: "\f059"}
.admonition.is-info > .admonition-header:empty::after {content: "Check Your Understanding"}

.admonition.is-success > .admonition-header:empty::before {content: "\f02d"}
.admonition.is-success > .admonition-header:empty::after {content: "Put it into Practice!"}
